<section class='tab scrollable {{tabs.character.id}}{{#if tabs.character.cssClass}} {{tabs.character.cssClass}}{{/if}}'
         data-group='{{tabs.character.group}}'
         data-tab='{{tabs.character.id}}'>
  <div class='tab-content'>
    {{#if (ne document.type 'creature')}}
      {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
        adjustable=true
        adjustableColumnHeader=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Careers.FIELDS.rank.label')
        dataType='career'
        emptyText=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Careers.EmptyPrompt')
        items=careers
        quantityFieldName='rank'
        sortable=true
        title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Character.Careers')
        wrapperClass='career-list'
      }}
    {{/if}}

    {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
      dataType='boon'
      items=boons
      title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Character.Boons')
      wrapperClass='boons-list'
    }}

    {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
      dataType='flaw'
      items=flaws
      title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Character.Flaws')
      wrapperClass='flaws-list'
    }}

    {{#if isNPC}}
      <div class='background-field-group'>
        <p class='background-field-group-title'>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Background.Notes'}}</p>
        {{#if isEditable}}
          {{formField notes.field value=notes.value enriched=notes.enriched toggled=true}}
        {{else}}
          <div class='background-field-group-enriched'>
            {{{notes.enriched}}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</section>
