<section class='tab scrollable {{tabs.maneuvers.id}}{{#if tabs.maneuvers.cssClass}} {{tabs.maneuvers.cssClass}}{{/if}}'
         data-group='{{tabs.maneuvers.group}}'
         data-tab='{{tabs.maneuvers.id}}'>
  <section class='tab-content'>
    {{#if isNPC}}
      {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
        dataType='action'
        items=actions
        noImg=true
        title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Actions')
        wrapperClass='actions-list'
      }}
    {{/if}}

    {{#if (gt readiedEquipment.length 0)}}
      {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
        hideDefaultControls=true
        items=readiedEquipment
        openOnClick=true
        title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.ReadiedEquipment')
        wrapperClass='readied-equipment'
      }}
    {{/if}}

    {{#if maneuvers}}
      {{#*inline 'maneuverList'}}
        {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
          addItemOptions=(object data-action-type=actionType)
          dataType='maneuver'
          draggable=true
          items=(lookup ../maneuvers collection)
          title=(localize label)
          wrapperClass=(concat 'maneuvers-' collection '-list')
        }}
      {{/inline}}

      {{> maneuverList actionType=1 collection='major' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Major'}}
      {{> maneuverList actionType=2 collection='minor' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Minor'}}
      {{> maneuverList actionType=3 collection='reaction' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Reaction'}}
      {{> maneuverList actionType=0 collection='free' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Free'}}
    {{else}}
      <div class='suggestion-box'>
        <p>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.PopulateOnEmpty'}}</p>
        <button type='button' data-action='populateManeuvers'>
          {{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Populate'}}
        </button>
      </div>
    {{/if}}
  </section>
</section>
