<section class='tab scrollable {{tabs.maneuvers.id}}{{#if tabs.maneuvers.cssClass}} {{tabs.maneuvers.cssClass}}{{/if}}'
         data-group='{{tabs.maneuvers.group}}'
         data-tab='{{tabs.maneuvers.id}}'>
  <section class='tab-content'>
    {{#if isNPC}}
      {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
        dataType='action'
        items=actions
        noImg=true
        title=(localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Actions')
        wrapperClass='actions-list'
      }}
    {{/if}}

    {{#if (gt offensiveEquipment.length 0)}}
      <div class='item-list offensive-equipment'>
        <div class='item-list-header'>
          <span>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.ReadiedEquipment'}}</span>
        </div>

        <ol class='item-list-items'>
          {{#each offensiveEquipment as |entry|}}
            <li class='item' data-item-id='{{entry.id}}' data-document-class='Item'>
              <div>
                <div class='item-image'>
                  <img src='{{entry.img}}' alt='{{entry.name}}'>
                </div>
                <div class='item-name'>
                  <span>{{entry.name}}</span>

                  {{#if (eq entry.type 'weapon')}}
                    <button type='button' data-action='rollItemDamage'>
                      {{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Damage'}}
                    </button>
                  {{/if}}
                </div>
              </div>
              {{#if (gt entry.maneuvers.length 0)}}
                <div class='item-tags'>
                  {{#each entry.maneuvers as |eqm|}}
                    <button type='button' data-action='rollTaggedManeuver' data-item-uuid='{{eqm.uuid}}'>
                      {{eqm.name}}
                    </button>
                  {{/each}}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ol>
      </div>
    {{/if}}

    {{#if maneuvers}}
      {{#*inline 'maneuverList'}}
        {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
          addItemOptions=(object data-action-type=actionType)
          dataType='maneuver'
          draggable=true
          items=(lookup ../maneuvers collection)
          title=(localize label)
          wrapperClass=(concat 'maneuvers-' collection '-list')
        }}
      {{/inline}}

      {{> maneuverList actionType=1 collection='major' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Major'}}
      {{> maneuverList actionType=2 collection='minor' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Minor'}}
      {{> maneuverList actionType=3 collection='reaction' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Reaction'}}
      {{> maneuverList actionType=0 collection='free' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Free'}}
    {{else}}
      <div class='suggestion-box'>
        <p>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.PopulateOnEmpty'}}</p>
        <button type='button' data-action='populateManeuvers'>
          {{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Populate'}}
        </button>
      </div>
    {{/if}}
  </section>
</section>
