<section class='tab {{tabs.details.id}}{{#if tabs.details.cssClass}} {{tabs.details.cssClass}}{{/if}}'
         data-group='{{tabs.details.group}}'
         data-tab='{{tabs.details.id}}'>
  <div class='tab-content standard-form'>
    {{> 'systems/honor-and-intrigue/templates/sheets/item/partials/ability-check.hbs'}}

    <div class='form-group'>
      <label for='damageString'>{{systemFields.damageFormula.label}}</label>
      <div class='form-fields'>
        <input id='damageString' type='text' name='system.damageFormula.value' value='{{system.damageFormula.value}}'/>
      </div>
      <p class='hint'>{{systemFields.damageFormula.hint}}</p>
    </div>
  </div>
</section>
