<section class='tab scrollable {{tabs.details.id}}{{#if tabs.details.cssClass}} {{tabs.details.cssClass}}{{/if}}'
         data-group='{{tabs.details.group}}'
         data-tab='{{tabs.details.id}}'>
  <div class='tab-content standard-form'>
    <div class='form-group'>
      <label for='damageString'>{{systemFields.damageFormula.label}}</label>
      <div class='form-fields'>
        <input id='damageString' type='text' name='system.damageFormula.value' value='{{system.damageFormula.value}}'/>
      </div>
      <p class='hint'>{{systemFields.damageFormula.hint}}</p>
    </div>
    {{formGroup systemFields.handsHeld value=system.handsHeld type='number'}}
    {{formGroup systemFields.rangeIncrement value=system.rangeIncrement type='number'}}
    {{formGroup (getValueField 'loadActions' 'needed') value=(getValueFieldValue 'loadActions' 'needed') type='number'
                hint=(localize 'HONOR_INTRIGUE.Item.Sheet.FIELDS.loadActions.hint')
                label=(localize 'HONOR_INTRIGUE.Item.Sheet.FIELDS.loadActions.label')
    }}
    {{formGroup systemFields.throwable value=system.throwable}}
    {{formGroup systemFields.maneuvers value=system.maneuvers}}
  </div>
</section>
