<div class='apply-damage-section'>
  {{#each targets as |target|}}
    <div class='target-area' data-target-uuid='{{target.uuid}}'>
      <div class='target-area-header'>
        <p>
          <i class='fa-solid {{ifThen (eq target.type 'creature') 'fa-crab' 'fa-person-half-dress'}}'></i>
          {{target.name}}
        </p>
        <i class='fa-solid fa-satellite-dish'
           data-action='pingTarget'
           data-tooltip='HONOR_INTRIGUE.Chat.Buttons.Ping.hint'
           data-tooltip-direction='UP'
        ></i>
      </div>
      {{#if target.isOwner}}
        <div class='target-area-buttons'>
          <button type='button'
                  data-action='applyDamage'
                  data-tooltip='HONOR_INTRIGUE.Chat.Buttons.ApplyDamage.hint'
                  data-tooltip-direction='UP'>
            <i class='fa-solid fa-heart-crack'></i>
            {{localize 'HONOR_INTRIGUE.Chat.Buttons.ApplyDamage.label' amount=../damageTotal}}
          </button>
          <button type='button'
                  data-action='applyProtection'
                  data-tooltip='HONOR_INTRIGUE.Chat.Buttons.Protection.hint'
                  data-tooltip-direction='UP'>
            <i class='fa-solid fa-shield-halved'></i>
            {{localize 'HONOR_INTRIGUE.Chat.Buttons.Protection.label'}}
          </button>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
