<div class='roll-dialog-content'>
  <div class='modifiers-table'>
    <div class='modifiers-table-header'>
      {{> "systems/honor-and-intrigue/templates/api/label-bar.hbs" label="HONOR_INTRIGUE.Dialog.Roll.Modifiers"}}
    </div>
    <div class='modifiers-table-items'>
      <div class='modifiers-table-item'>
        <span>{{localize flavor}}</span>
        <span>{{ifThen (gt quality 0) '+' ''}}{{quality}}</span>
      </div>
      {{#each selectFields as |field|}}
        <div class='modifiers-table-item'>
          <span>{{localize field.label}}</span>
          <select name='{{field.id}}' data-dtype='String'>
            {{selectOptions field.options selected=field.value valueAttr=field.valueAttr localize=true}}
          </select>
        </div>
      {{/each}}
      {{#each stepperFields as |field|}}
        <div class='modifiers-table-item'>
          <span>{{localize field.label}}</span>
          {{> "systems/honor-and-intrigue/templates/api/input-stepper.hbs" input=field}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
