<div class='roll-dialog-content'>
  <div class='modifiers-table'>
    <div class='modifiers-table-header'>
      {{> "systems/honor-and-intrigue/templates/api/label-bar.hbs" label="HONOR_INTRIGUE.Dialog.Roll.Modifiers"}}
    </div>
    <div class='modifiers-table-items'>
      <div class='modifiers-table-item'>
        <span>{{localize flavor}}</span>
        <span>{{ifThen (gt bonus 0) '+' ''}}{{bonus}}</span>
      </div>
      <div class='modifiers-table-item'>
        <span>{{localize "HONOR_INTRIGUE.Dialog.Roll.BonusDie"}}</span>
        {{> "systems/honor-and-intrigue/templates/api/input-stepper.hbs" input=stepperFields.bonuses}}
      </div>
      <div class='modifiers-table-item'>
        <span>{{localize "HONOR_INTRIGUE.Dialog.Roll.PenaltyDie"}}</span>
        {{> "systems/honor-and-intrigue/templates/api/input-stepper.hbs" input=stepperFields.penalties}}
      </div>
    </div>
  </div>
</div>
