<section class='tab {{tabs.details.id}}{{#if tabs.details.cssClass}} {{tabs.details.cssClass}}{{/if}}'
         data-group='{{tabs.details.group}}'
         data-tab='{{tabs.details.id}}'>
  <div class='tab-content standard-form'>
    {{formGroup systemFields.actionType value=system.actionType localize=true}}
    {{formGroup systemFields.mastery value=system.mastery}}

    {{> 'systems/honor-and-intrigue/templates/sheets/item/partials/ability-check.hbs'}}
  </div>
</section>
