<section class='tab {{tabs.description.id}}{{#if tabs.description.cssClass}} {{tabs.description.cssClass}}{{/if}}'
     data-group='{{tabs.description.group}}'
     data-tab='{{tabs.description.id}}'>
  <div class='tab-content'>
    {{#if this.isEditable}}
      {{formInput systemFields.description value=system.description enriched=enrichedDescription}}
    {{else}}
      {{{enrichedDescription}}}
    {{/if}}
  </div>
</section>
