<section class='tab {{tabs.description.id}}{{#if tabs.description.cssClass}} {{tabs.description.cssClass}}{{/if}}'
     data-group='{{tabs.description.group}}'
     data-tab='{{tabs.description.id}}'>
  <div class='tab-content'>
    {{#if this.isEditable}}
      {{formInput description.field value=description.value enriched=description.enriched toggled=true}}
    {{else}}
      {{{description.enriched}}}
    {{/if}}
  </div>
</section>
