<div class='boon-flaw-list'>
  {{#> 'systems/honor-and-intrigue/templates/api/label-bar.hbs' label='HONOR_INTRIGUE.Actor.Sheet.Labels.Character.BoonsFlaws'}}
    <button type='button' class='icon fa-solid fa-plus' data-action='addBoonFlaw' data-tooltip='HONOR_INTRIGUE.Actor.Sheet.Tooltips.NewBoonFlaw'></button>
  {{/'systems/honor-and-intrigue/templates/api/label-bar.hbs'}}

  {{#if (and (eq @root.boons.length 0) (eq @root.flaws.length 0))}}
    <div class='suggestion-box'>
      <p>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Character.BoonsFlawsPrompt'}}</p>
    </div>
  {{else}}
    <ol class='item-list'>
      {{#each @root.boons as |boon|}}
        <li class='item boon' data-item-id='{{boon.item.id}}' data-document-class='Item'>
          <div class='item-row'>
            <div class='item-drag-handle'>
              <a class='draggable' data-item-id='{{boon.item.id}}'>
                <i class='fa-solid fa-grip-dots-vertical'></i>
              </a>
            </div>
            <div class='item-name' data-action='toggleItemExpanded'>{{boon.item.name}}</div>
            <div class='item-controls'>
              <a data-action='openItem'>
                <i class='fa-solid fa-pen-to-square'></i>
              </a>
              <a data-action='deleteItem'>
                <i class='fa-solid fa-trash'></i>
              </a>
            </div>
            {{#if boon.expanded}}
              <div class='item-embed'>
                {{{boon.embed.outerHTML}}}
              </div>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}

  {{#if (and (gt @root.boons.length 0) (gt @root.flaws.length 0))}}
    <hr />
  {{/if}}

  {{#if (ne @root.flaws.length 0)}}
    <ol class='item-list'>
      {{#each @root.flaws as |flaw|}}
        <li class='item flaw' data-item-id='{{flaw.item.id}}' data-document-class='Item'>
          <div class='item-row'>
            <div class='item-drag-handle'>
              <a class='draggable' data-item-id='{{flaw.item.id}}'>
                <i class='fa-solid fa-grip-dots-vertical'></i>
              </a>
            </div>
            <div class='item-name' data-action='toggleItemExpanded'>{{flaw.item.name}}</div>
            <div class='item-controls'>
              <a data-action='openItem'>
                <i class='fa-solid fa-pen-to-square'></i>
              </a>
              <a data-action='deleteItem'>
                <i class='fa-solid fa-trash'></i>
              </a>
            </div>
            {{#if flaw.expanded}}
              <div class='item-embed'>
                {{{flaw.embed.outerHTML}}}
              </div>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}
</div>
