<div class='rollable-characteristic'>
  <a class='roll-icon'
     data-action='rollCharacteristic'
     data-characteristic='{{dotkey}}'
     data-tooltip='HONOR_INTRIGUE.Actor.{{dotkey}}'>
    {{> "systems/honor-and-intrigue/templates/sheets/actor/icons/d20.hbs" }}
  </a>
  <div class='rollable-characteristic-value'>
    {{formInput (@root.getValueField field_type field_name) value=(@root.getValueFieldValue field_type field_name) type='number'}}
  </div>
  <p class='rollable-characteristic-label'
     data-tooltip='HONOR_INTRIGUE.Sheet.Hints.{{dotkey}}'>{{localize (concat "HONOR_INTRIGUE.Actor." dotkey)}}</p>
</div>
