<header class='sheet-header'>
  <div class='characteristic-row'>
    <h1 class='character-name'>
      {{formInput fields.name value=source.name}}
    </h1>

    {{#if (eq actorType 'hero')}}
      <div class='advancement-points'
           {{#if isEditable}}data-action='adjustAdvancementPoints'{{/if}}
           data-tooltip='HONOR_INTRIGUE.Sheet.Labels.AdvancementPoints'
      >
        <span>{{system.advancementPoints.value}}</span>
        <i class='fa-solid fa-arrow-up'
          {{#if isEditable}}
           data-tooltip='{{localize "HONOR_INTRIGUE.Sheet.Labels.AdvancementPointsAccrued"
                                    accrued=system.advancementPoints.accrued
                                    spent=system.advancementPoints.spent}}'
          {{/if}}
        ></i>
      </div>
    {{/if}}
  </div>
  {{#if (or (eq actorType 'hero') (eq actorType 'villain'))}}
    <div class='characteristic-row'>
      <div class='flexcol flex1'>
        {{> "systems/honor-and-intrigue/templates/api/label-bar.hbs" label="HONOR_INTRIGUE.Sheet.Labels.Motivation"}}
        {{formInput systemFields.motivation value=this.system.motivation}}
      </div>

      <div class='fortune-points' data-tooltip='HONOR_INTRIGUE.Sheet.Labels.FortunePoints'>
        <span {{#if isEditable}}data-action='adjustFortune'{{/if}}>{{system.fortune.value}}</span>
        <i class='fa-solid fa-stars'
          {{#if isEditable}}
           data-action='refreshFortune'
           data-tooltip='HONOR_INTRIGUE.Sheet.Labels.FortunePointsRefresh'
          {{/if}}></i>
      </div>
    </div>
  {{/if}}
</header>
