<aside class='sheet-sidebar'>
  <div class='portrait'>
    <img src='{{document.img}}' alt='{{document.name}}' data-action='editImage' data-edit='img'>
  </div>

  <div class='notification-area'>
    {{#if atALoss}}
      <i class='fa-slab fa-regular fa-triangle-exclamation'
         data-title='HONOR_INTRIGUE.EFFECT.Status.AtALoss'
         data-tooltip='HONOR_INTRIGUE.Actor.Sheet.Tooltips.AtALoss'></i>
    {{/if}}
  </div>

  <div class='characteristics'>
    <div class='primary-resources'>
      <div class='resources'>
        <div class='resource-item'>
          <div class='resource-value'>
            {{formInput systemFields.lifeblood.fields.value value=this.system.lifeblood.value type='number' max=this.system.lifeblood.max
                        min=this.system.lifeblood.min}}
            {{#if (ne actorType 'pawn')}}
              <p>/</p>
              {{#if this.system.isLifebloodMightDerived}}
                <p class='resource-value-label'>{{this.system.lifeblood.max}}</p>
              {{else}}
                {{formInput systemFields.lifeblood.fields.max value=this.system.lifeblood.max type='number'}}
              {{/if}}
            {{/if}}
          </div>
          <span class='resource-label'>{{localize 'HONOR_INTRIGUE.Sheet.Labels.Lifeblood'}}</span>
        </div>

        {{#if (or (eq actorType 'hero') (eq actorType 'villain'))}}
          <div class='resource-item'>
            <div class='resource-value'>
              {{formInput systemFields.composure value=this.system.composure type='number' max=systemFields.composure.max}}
              <p>/</p>
              <p class='resource-value-label'>{{systemFields.composure.max}}</p>
            </div>
            <span class='resource-label'>{{localize 'HONOR_INTRIGUE.Sheet.Labels.Composure'}}</span>
          </div>
        {{/if}}
        {{#if (eq actorType 'pawn')}}
          <div class='resource-item'>
            <div class='resource-value'>
              {{formInput systemFields.competence value=this.system.competence type='number'}}
            </div>
            <span class='resource-label'>{{localize 'HONOR_INTRIGUE.Sheet.Labels.Competence'}}</span>
          </div>
        {{/if}}
      </div>
    </div>

    <div class='qualities-container'>
      {{> "systems/honor-and-intrigue/templates/api/label-bar.hbs" label="HONOR_INTRIGUE.Sheet.Labels.Qualities"}}

      {{#each this.system.qualities as |quality key|}}
        {{> "systems/honor-and-intrigue/templates/sheets/actor/partials/rollable-characteristic.hbs"
          dotkey=(concat "qualities." key)
          field_type="qualities"
          field_name=key
        }}
      {{/each}}
    </div>

    <div class='abilities-container'>
      {{> "systems/honor-and-intrigue/templates/api/label-bar.hbs" label="HONOR_INTRIGUE.Sheet.Labels.CombatAbilities"}}

      {{#each this.system.combatAbilities as |ability key|}}
        {{> "systems/honor-and-intrigue/templates/sheets/actor/partials/rollable-characteristic.hbs"
          dotkey=(concat "combatAbilities." key)
          field_type="combatAbilities"
          field_name=key
        }}
      {{/each}}
    </div>
  </div>
</aside>
