<section class='tab scrollable {{tabs.maneuvers.id}}{{#if tabs.maneuvers.cssClass}} {{tabs.maneuvers.cssClass}}{{/if}}'
         data-group='{{tabs.maneuvers.group}}'
         data-tab='{{tabs.maneuvers.id}}'>
  <section class='tab-content'>
    {{#if maneuvers}}
      {{#*inline "maneuverList"}}
        {{#if (gt collection.length 0)}}
          {{> 'systems/honor-and-intrigue/templates/api/label-bar.hbs' label=(localize label)}}
          <ol class='item-list'>
            {{#each collection as |maneuverContext|}}
              <li class='item' data-item-id='{{maneuverContext.item.id}}' data-document-class='Item'>
                <div class='item-row'>
                  <div class='item-drag-handle'>
                    <a class='draggable'>
                      <i class='fa-solid fa-grip-dots-vertical'></i>
                    </a>
                  </div>
                  <img class='item-image' src='{{maneuverContext.item.img}}' alt='{{maneuverContext.item.name}}'>
                  <div class='item-name' data-action='toggleItemExpanded'>{{maneuverContext.item.name}}</div>
                  <div class='item-controls'>
                    <a data-action='toggleManeuverMastery'
                       data-tooltip='{{localize "HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.ToggleMastery"}}'>
                      <i class='fa-{{ifThen maneuverContext.item.system.isMastered "solid illuminate" "light"}} fa-star-shooting'></i>
                    </a>
                    <a data-action='openItem'>
                      <i class='fa-solid fa-pen-to-square'></i>
                    </a>
                    <a data-action='deleteItem'>
                      <i class='fa-solid fa-trash'></i>
                    </a>
                  </div>
                  {{#if maneuverContext.expanded}}
                    <div class='item-embed'>
                      {{{maneuverContext.embed.outerHTML}}}
                    </div>
                  {{/if}}
                </div>
              </li>
            {{/each}}
          </ol>
        {{/if}}
      {{/inline}}

      {{> maneuverList collection=maneuvers.major label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Major'}}
      {{> maneuverList collection=maneuvers.minor label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Minor'}}
      {{> maneuverList collection=maneuvers.reaction label='HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Reaction'}}
    {{else}}
      <div class='populate-suggestion'>
        <p>{{localize "HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.PopulateOnEmpty"}}</p>
        <button type='button' data-action='populateManeuvers'>
          {{localize "HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.Populate"}}
        </button>
      </div>
    {{/if}}
  </section>
</section>
